

.row.quote-repository {
	margin-top: 50px;
}

#quote-list .quoteText {
	font-size: 2em;
}

#editQuoteText {
   font-family: cursiv;
   font-style: italic;
}


#quote-list .quoteReference {
	font-size: 0.8em;
}

#quote-list .quoteSource,#quote-list .firstDocumentedOccurence {
	font-family: monospace;
}

#quote-list .submitter {
	font-size: 0.8em;
}

.row.presentation {
	margin-top: 2em;
	min-height: 10em;
}

.font1 .quoteText{
	font-family: 'Rouge Script', cursive;
}

.font2 .quoteText{
	font-family: 'Yellowtail', cursive;
}

.font3 .quoteText{
	font-family: 'Parisienne', cursive;
}

.font4 .quoteText{
	font-family: 'Allura', cursive;
}

.font5 .quoteText{
	font-family: 'Mr De Haviland', cursive;
}

.font6 .quoteText{
	font-family: 'Tangerine', cursive;
}

.font7 .quoteText{
	font-family: 'Sacramento', cursive;
}

.font8 .quoteText{
	font-family: 'Herr Von Muellerhoff', cursive;
}